body {
    margin: 0;
    padding: 1em;
}

#coblet {
    width: 50vw;
    height: 50vw;
    background: #eee;
    box-shadow: 2px 2px 10px #000;
    border: 2px #000 solid;
    overflow: auto;
    resize: both;
}

.example {
    float: right;
    margin: -2rem 0 2rem 2rem;
}

.centered {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* start form style */
.coblet-form h1,
.coblet-form h2 {
    margin: 0px;
}
.coblet-form {
    width: 100%;
    border-collapse: collapse;
}
.coblet-form td { 
    padding: 4px;
}
.coblet-form thead {
    border-bottom: 2px #ddd solid;
}
.coblet-form tbody tr:nth-child(even) {
    background: #ddf;
    color: #000;
}

input:invalid+span:after {
    position: absolute; content: '✖';
    padding-left: 5px;
    color: #8b0000;
}
  
input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
    color: #009000;
}